            /*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */
            /* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
            /*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
            /* ==========================================================================
   otoase styles: opinionated defaults
   ========================================================================== */
            
            html {
                color: #222;
                font-size: 1em;
                line-height: 1.4;
            }
            /*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
            
             ::-moz-selection {
                background: #b3d4fc;
                text-shadow: none;
            }
            
             ::selection {
                background: #b3d4fc;
                text-shadow: none;
            }
            /*
 * A better looking default horizontal rule
 */
            
            hr {
                display: block;
                height: 1px;
                border: 0;
                border-top: 1px solid #ccc;
                margin: 1em 0;
                padding: 0;
            }
            /*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
            
            audio,
            canvas,
            iframe,
            img,
            svg,
            video {
                vertical-align: middle;
            }
            /*
 * Remove default fieldset styles.
 */
            
            fieldset {
                border: 0;
                margin: 0;
                padding: 0;
            }
            /*
 * Allow only vertical resizing of textareas.
 */
            
            textarea {
                resize: vertical;
            }
            /* ==========================================================================
   Author's custom styles
   ========================================================================== */
            /* ==========================================================================
   Helper classes
   ========================================================================== */
            /*
 * Hide visually and from screen readers
 */
            
            .hidden,
            [hidden] {
                display: none !important;
            }
            /*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
            
            .sr-only {
                border: 0;
                clip: rect(0, 0, 0, 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                white-space: nowrap;
                width: 1px;
                /* 1 */
            }
            /*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
            
            .sr-only.focusable:active,
            .sr-only.focusable:focus {
                clip: auto;
                height: auto;
                margin: 0;
                overflow: visible;
                position: static;
                white-space: inherit;
                width: auto;
            }
            /*
 * Hide visually and from screen readers, but maintain layout
 */
            
            .invisible {
                visibility: hidden;
            }
            /*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
            
            .clearfix::before,
            .clearfix::after {
                content: " ";
                display: table;
            }
            
            .clearfix::after {
                clear: both;
            }
            /* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
            
            @media only screen and (min-width: 35em) {
                /* Style adjustments for viewports that meet the condition */
            }
            
            @media print,
            (-webkit-min-device-pixel-ratio: 1.25),
            (min-resolution: 1.25dppx),
            (min-resolution: 120dpi) {
                /* Style adjustments for high resolution devices */
            }
            /* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
            
            @media print {
                *,
                *::before,
                *::after {
                    background: #fff !important;
                    color: #000 !important;
                    /* Black prints faster */
                    box-shadow: none !important;
                    text-shadow: none !important;
                }
                a,
                a:visited {
                    text-decoration: underline;
                }
                a[href]::after {
                    content: " (" attr(href) ")";
                }
                abbr[title]::after {
                    content: " (" attr(title) ")";
                }
                /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
                a[href^="#"]::after,
                a[href^="javascript:"]::after {
                    content: "";
                }
                pre {
                    white-space: pre-wrap !important;
                }
                pre,
                blockquote {
                    border: 1px solid #999;
                    page-break-inside: avoid;
                }
                /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
                thead {
                    display: table-header-group;
                }
                tr,
                img {
                    page-break-inside: avoid;
                }
                p,
                h2,
                h3 {
                    orphans: 3;
                    widows: 3;
                }
                h2,
                h3 {
                    page-break-after: avoid;
                }
            }
            /**Mis estilos**/
            
            body {
                background-color: #f2f2f2;
                font-family: 'Open Sans', sans-serif;
            }
            
            .nombre-sitio {
                font-family: 'PT Sans', sans-serif;
                font-size: 10vw;
                margin: 0;
            }
            
            h2 {
                font-family: 'Oswald', sans-serif;
                font-size: 2.4em;
                text-transform: uppercase;
                text-align: center;
            }
            
            h2::after {
                content: '';
                margin: 0 auto;
                background-image: url(../img/separador.png);
                height: 30px;
                width: 100px;
                display: block;
            }
            
            h3 {
                font-size: 1.8em;
                color: #fe4918;
                font-weight: 300;
                font-family: 'PT Sans', sans-serif;
                margin: 0;
            }
            
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }
            
            iframe {
                width: 100%;
            }
            /*Globales*/
            
            .contenedor {
                width: 98%;
                margin: 0 auto;
            }
            
            @media (min-width:400px) {
                .contenedor {
                    width: 94%;
                }
            }
            
            @media (min-width:768px) {
                .contenedor {
                    width: 89%;
                }
            }
            
            @media (min-width:992px) {
                .contenedor {
                    width: 87%;
                    max-width: 1100px;
                }
            }
            
            .seccion {
                padding: 30px 0;
            }
            
            .seccion p {
                font: 1.2em;
                text-align: center;
            }
            
            .boton {
                background-color: #fe4918;
                padding: 10px 40px;
                color: white;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: bold;
                font-family: 'Oswald', sans-serif;
                display: inline-block;
                transition: all .3s ease;
            }
            
            .boton:hover {
                background-color: #e33000;
            }
            /**header**/
            /*Lettering*/
            
            .nombre-sitio span {
                position: relative;
                text-shadow: 0 0 30px black;
            }
            
            .hero {
                background-image: url(../img/event-1597531_1920.jpg);
                height: 100vh;
                background-position: top center;
                background-size: cover;
            }
            
            .contenido-header {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 80%;
                padding-top: 40px;
            }
            
            @media (min-width:768px) {
                .contenido-header {
                    height: 80%;
                }
            }
            
            .redes-sociales {
                text-align: center;
            }
            
            .redes-sociales a {
                color: white;
                font-size: 2.5em;
                margin-right: 20px;
            }
            
            .redes-sociales a:last-child {
                margin-right: 0;
            }
            
            .redes-sociales a:hover {
                color: #fe4918;
            }
            
            .informacion-evento {
                text-align: center;
                color: white;
            }
            
            .informacion-evento p {
                margin: 0;
                font-size: 20px;
                text-transform: uppercase;
            }
            
            .informacion-evento i {
                color: #fe4918;
                font-size: 1.5em;
            }
            
            @media (min-width:768px) {
                .info {
                    display: flex;
                    justify-content: space-around;
                }
            }
            /*Barra*/
            
            .barra {
                position: sticky;
                top: 0;
                background-color: #353535;
                padding: 20px 0;
                z-index: 3;
            }
            
            .logo {
                width: 80%;
            }
            
            .logo img {
                width: 100%;
            }
            
            .barra .contenedor .contenedorr {
                display: flex;
            }
            
            .barra .contenedor .contenedorr {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            
            .navegacion-principal a {
                font-family: 'Oswald', sans-serif;
                color: white;
                text-decoration: none;
                margin-right: 20px;
                font-size: 1.3em;
                transition: all .3s ease;
                padding: 10px 20px;
                text-transform: uppercase;
            }
            
            .navegacion-principal a:last-child {
                margin-right: 0;
                border: 2px solid #fe4918;
                color: #fe4918;
            }
            
            .navegacion-principal {
                display: none;
                width: 100%;
                display: block;
                text-align: right;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            @media (min-width:768px) {
                .logo {
                    width: 100%;
                }
                .navegacion-principal a:last-child:hover {
                    background-color: white;
                }
                .navegacion-principal a:hover {
                    background-color: #fe4918;
                }
                .navegacion-principal {
                    display: block !important;
                    flex-direction: row;
                }
                .barra .contenedor {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                .contenedorr {
                    flex-basis: 30%;
                }
                .navegacion-principal {
                    flex-basis: 70%;
                }
            }
            /*Menu movil*/
            
            .menu-movil {
                width: 60px;
                display: block;
                text-align: right;
                margin-top: 12px;
            }
            
            .menu-movil:hover {
                cursor: pointer;
            }
            
            .menu-movil span {
                height: 8px;
                margin-bottom: 6px;
                background-color: white;
                display: block;
            }
            
            @media (min-width:768px) {
                .menu-movil {
                    display: none;
                }
            }
            /*Talleres*/
            
            .programa {
                position: relative;
            }
            
            .contenedor-video {
                max-width: 100%;
                overflow-x: hidden;
            }
            
            .contenido-programa {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            
            .programa-evento {
                background-color: rgba(255, 255, 255, .8);
                padding: 15px;
                margin-top: 50px;
            }
            
            @media (min-width:768px) {
                .programa-evento {
                    width: 70%;
                }
            }
            
            @media (min-width:992px) {
                .programa-evento {
                    width: 50%;
                }
            }
            
            .menu-programa {
                width: 100%;
                border-bottom: 1px solid #fe4918;
                padding-bottom: 10px;
            }
            
            .menu-programa a {
                text-decoration: none;
                display: block;
                color: black;
                font-family: 'Oswald', sans-serif;
                text-align: center;
                margin-bottom: 10px;
                position: relative;
            }
            
            @media (min-width:768px) {
                .menu-programa a.activo::after {
                    position: absolute;
                    content: '';
                    left: 0;
                    right: 0;
                    margin-right: auto;
                    margin-left: auto;
                    height: 20px;
                    width: 30px;
                    background-image: url(../img/talleres-flecha.jpg);
                    background-repeat: no-repeat;
                    bottom: -40px;
                    right: -20px;
                }
            }
            
            .menu-programa i,
            .detalle-evento i {
                color: #fe4918;
                font-size: 1.6em;
                margin-right: 10px;
            }
            
            @media (min-width:768px) {
                .menu-programa {
                    display: flex;
                    justify-content: space-around;
                }
            }
            
            #seminarios,
            #conferencias {
                display: none;
            }
            /*Detalle del evento*/
            
            .detalle-evento {
                margin-top: 20px;
                border-bottom: 1px solid black;
                padding: 0 20px;
            }
            
            .detalle-evento:nth-child(2) {
                border: none;
            }
            
            .detalle-evento p {
                margin-bottom: 20px;
                font-size: 20px;
            }
            
            .boton-contenedor {
                display: flex;
                justify-content: flex-end;
            }
            /*Invitados*/
            
            .lista-invitados li {
                padding: 10px;
                margin: 0 auto;
            }
            
            .invitado img {
                width: 100%;
                filter: gray;
                -webkit-filter: grayscale(1);
            }
            
            .invitados h2 {
                margin: 0;
            }
            
            .invitado img:hover {
                -webkit-filter: grayscale(0);
                -webkit-transform: scale(1.1);
                -webkit-transform: all .3s ease-in-out;
            }
            
            .invitado:hover p {
                bottom: -80px;
                opacity: 0;
            }
            
            .invitado {
                position: relative;
                overflow: hidden;
                max-width: 100%;
            }
            
            .invitado p {
                position: absolute;
                bottom: 0;
                margin: 0;
                padding: 15px 0 15px 0;
                width: 100%;
                text-align: left;
                background-color: rgba(0, 0, 0, .55);
                font-family: 'Oswald', sans-serif;
                text-transform: uppercase;
                color: #e33000;
                font-size: 20px;
                font-weight: 700;
                transition: all .5s ease-in-out;
            }
            
            .lista-invitados {
                margin: 0 auto;
            }
            
            @media (min-width:530px) {
                .lista-invitados {
                    display: flex;
                    flex-wrap: wrap;
                }
                .lista-invitados li {
                    flex-basis: 46%;
                }
            }
            
            @media (min-width:768px) {
                .lista-invitados li {
                    flex-basis: 30%;
                }
            }
            /*Contador*/
            
            .parallax::before {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-repeat: no-repeat;
                background-position: center center;
                background-attachment: fixed;
                filter: brightness(.5);
            }
            
            .contador {
                position: relative;
                height: auto;
            }
            
            .contador::before {
                background-image: url(../img/bg-resumen.jpg);
                content: '';
            }
            
            .resumen-evento {
                position: relative;
                padding: 120px 0;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            
            .resumen-evento li {
                text-align: center;
                flex-basis: 50%;
                color: white;
                text-transform: uppercase;
                font-family: 'Oswald', sans-serif;
                font-size: 24px;
            }
            
            @media (min-width:530px) {
                .resumen-evento li {
                    flex-basis: 24%;
                }
            }
            
            .numero {
                color: #e33000;
                font-size: 4em;
                margin: 0;
            }
            /*precio*/
            
            .tarjeta {
                text-align: center;
                margin-bottom: 50px;
                padding: 20px;
                border: 1px solid #e1e1e1;
                font-family: 'PT Sans', sans-serif;
            }
            
            .tarjeta:hover {
                transform: scale(1.1);
                border: 1px solid #fe4918;
                box-shadow: 0px 0px 50px #666;
            }
            
            @media (min-width:768px) {
                .precios {
                    display: flex;
                }
                .tarjeta {
                    flex-basis: 30%;
                    margin-right: 18px;
                }
                .tarjeta:last-child {
                    margin-right: 0;
                }
            }
            
            .precio {
                font-size: 4.5em;
                margin: 0;
                padding: 0;
            }
            
            .descripcion i {
                color: green;
                padding-right: 5px;
                margin-bottom: 20px;
            }
            
            .descripcion {
                font-weight: 100;
                font-size: 20px;
                margin: 30px 0;
            }
            
            .descripcion p {
                margin: 0;
            }
            
            .boton-comprar {
                margin-bottom: 10px;
                color: #fe4918;
                background-color: white;
                border: 1px solid #fe4918;
            }
            
            .boton-comprar:hover,
            .tarjeta-medio a:hover {
                background-color: white;
                color: #fe4918;
            }
            
            .tarjeta-medio a {
                color: white;
                background-color: #fe4918;
            }
            /*Mapa*/
            
            .mapa {
                height: 420px;
            }
            /*Testimoniales*/
            
            .testimoniales {
                padding-bottom: 20px;
            }
            
            @media (min-width:768px) {
                .testimoniales {
                    display: flex;
                    justify-content: space-between;
                }
                .testimonial {
                    flex-basis: 33.3%;
                }
            }
            
            .testimonial {
                margin-bottom: 30px;
            }
            
            blockquote {
                background-color: white;
                border: 1px solid #e1e1e1;
                position: relative;
                margin: 5px;
            }
            
            blockquote p {
                text-align: justify !important;
                padding: 0 20px 0 50px;
                font-size: .8em;
                font-family: 'PT Sans', sans-serif;
            }
            
            blockquote p::before {
                content: '\201c';
                position: absolute;
                left: 7px;
                top: -6px;
                font-size: 8rem;
                margin: 0;
                padding: 0;
                line-height: 1;
                color: #fe4918;
            }
            
            .info-testimonial {
                padding: 0 0 10px 0;
                display: flex;
                justify-content: space-around;
            }
            
            .info-testimonial img {
                border-radius: 50%;
                width: 20%;
                margin-left: 20px;
            }
            
            .info-testimonial cite {
                text-align: left;
                text-transform: uppercase;
                color: #fe4918;
                font-size: 12px;
                padding-top: 20px;
                width: 60%;
            }
            
            .info-testimonial span {
                font-weight: bold;
                color: black;
            }
            /*newsletter*/
            
            .newsletter {
                position: relative;
                height: auto;
            }
            
            .newsletter::before {
                background-image: url(../img/bg-newsletter.jpg);
                content: '';
            }
            
            .contenido {
                padding: 100px 0;
                color: white;
                text-align: center;
                position: relative;
            }
            
            .contenido p {
                font-size: 1.2em;
                text-transform: lowercase;
            }
            
            .contenido h3 {
                color: white;
                text-transform: uppercase;
                font-size: 7vw;
            }
            
            .contenido a {
                background-color: transparent;
                border: 2px solid white;
                margin-top: 30px;
            }
            
            .contenido a:hover {
                border-color: #fe4918;
            }
            /*Cuenta regresiva*/
            
            .cuenta-regresiva {
                max-width: 900px;
            }
            
            .cuenta-regresiva ul {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 20px;
            }
            
            .cuenta-regresiva ul li p {
                margin: 0;
                padding: 0;
            }
            
            .cuenta-regresiva ul li .numero {
                font-weight: 600;
            }
            
            @media (min-width:768px) {
                .cuenta-regresiva ul {
                    display: flex;
                    justify-content: space-around;
                }
            }
            /*Footer*/
            
            .site-footer {
                background-color: #353535;
                margin-top: 20px;
                padding-top: 40px;
                color: white;
                padding: 15px;
            }
            
            .site-footer h3 {
                color: white;
                text-transform: uppercase;
                font-weight: 600;
            }
            
            .site-footer span {
                color: #fe4918;
            }
            
            .menu nav {
                text-align: initial;
            }
            
            @media (min-width:768px) {
                .site-footer .contenedor {
                    display: flex;
                }
                .site-footer .contenedor div {
                    flex-basis: 33.3%;
                    margin-right: 25px;
                }
            }
            /*Paginas internas*/
            /*Registro*/
            
            .registro h3 {
                text-align: center;
                text-transform: uppercase;
                margin: 20px 0 0 0;
            }
            
            .registro label {
                margin-bottom: 5px;
                font-weight: bold;
            }
            
            h4 {
                text-align: center;
                text-transform: uppercase;
                border-bottom: 2px solid #fe4918;
                padding-bottom: 10px;
                font-size: 1.2em;
            }
            
            .caja {
                background-color: white;
                border: 1px solid #e1e1e1;
                padding: 10px;
                margin: 10px;
            }
            
            .campo {
                padding: 20px;
            }
            
            @media (min-width:330px) {
                #email {
                    margin-left: 22px;
                }
            }
            
            @media (min-width:768px) {
                .registro-usuario {
                    display: flex;
                }
                .campo {
                    flex-basis: 33.3%;
                }
                #email {
                    margin-left: 0;
                }
            }
            
            .paquetes .precios .tarjeta:hover {
                transform: none;
                box-shadow: none;
            }
            
            .paquetes .precios .tarjeta {
                background-color: white;
            }
            
            .paquetes .precios .tarjeta input {
                clear: both;
                width: 100px;
                margin: 10px auto 0 auto;
                display: block;
            }
            
            .contenido-dia div label {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
            }
            
            .contenido-dia div input,
            time {
                margin-right: 10px;
                color: #fe4918;
                font-weight: bold;
            }
            
            .contenedor-evento p {
                text-align: left;
                font-size: 1.5em;
            }
            
            .contenido-dia {
                padding: 20px;
                display: none;
            }
            
            @media(min-width:768px) {
                .contenido-dia div {
                    flex-basis: 33.3%;
                }
                .contenedor-evento {
                    display: flex;
                }
            }
            
            .resumen p {
                font-size: 1.2em;
                text-transform: uppercase;
            }
            
            .caja-resumen {
                text-align: center;
                padding: 20px;
            }
            
            .orden input[type="number"] {
                margin: 0 auto;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            
            @media (min-width:768px) {
                .caja-resumen {
                    text-align: left;
                    display: flex;
                }
                .orden input[type="number"] {
                    margin: 10px 0;
                }
            }
            
            .caja-resumen div {
                flex-basis: 50%;
            }
            
            .caja-resumen div input {
                display: block;
                margin: 15px 0;
            }
            
            .caja-resumen div input[type=button],
            input[type=submit] {
                margin: 15px auto !important;
            }
            /*conferencia*/
            
            .galeria a {
                display: inline-block;
                margin-bottom: 5px;
            }